.comienzo {
    background-color: #eec3c9;
    margin: 0%;
    padding: 0%;
}

.marketing {
    grid-area: marketing;
    background-color: lightpink;
    order: -1;
    width: auto;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.marketing h3 {
    font-size: 18px;
    position: sticky;
}

header {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas: "marketing marketing"
        "titulo encabezado1"
        "navbar-principal navbar-principal";

}

.encabezado1 {
    grid-area: encabezado1;
    display: flex;
    flex-direction: row;
    background-color: #694a50;
}

.titulo {
    grid-area: titulo;
    width: 100%;
    height: 5rem;
}

.principal {
    height: 50%;
    font-family: 'IBM Plex Serif', serif;
    font-size: 50px;
    display: flex;
    align-items: center;
}

.nav1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}


.nav1 .listado1 {
    width: 40%;
    height: 3rem;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2.1rem;
}

.navbar-principal {
    grid-area: navbar-principal;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    background-color: #9c7580;
}

.nav2 {
    height: 100%;
}

.nav2 ul {
    width: 50%;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.nav2 ul a {
    text-decoration: none;
    color: aliceblue;
}

.portada {
    margin-top: 2rem;
    width: 100%;
    height: 33.60rem;
    display: flex;
    justify-content: center;
    height: 500px;
}

.imagen1_portada {
    border-style: double;
    border-color: rgb(134, 86, 86);
}

.imagen2_portada {
    border-style: double;
    border-color: rgb(134, 86, 86);
}

.carrusel {
    grid-area: carrusel;
    display: flex;
    width: 60%;
    height: 100%;
}

.carrusel .photo {
    display: flex;
    width: 1rem;
    flex-grow: 5;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.carrusel .photo:hover {
    cursor: crosshair;
    width: 30%;
    opacity: 1;
    filter: contrast(120%);
}

.publicidad {
    grid-area: publicidad;
    order: 1.10;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    border-style: dotted;
    font-family: Verdana, sans-serif;
}

.footer {
    margin-top: 70rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.namepag {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

.name {
    font-family: 'Courgette', cursive;
}


.floating-button {
    /* Estilos del botón */
    position: fixed;
    bottom: 10px;
    /* Ajusta la distancia desde abajo */
    right: 20px;
    /* Ajusta la distancia desde la derecha */
    width: 90px;
    /* Ajusta el ancho del botón */
    height: 90px;
    /* Ajusta la altura del botón  */
    border-radius: 100%;
    /* Da forma de círculo al botón */
    background-color: rosybrown;
    z-index: 9999;
    /* Asegura que el botón esté por encima de otros elementos */
    /* Estilos adicionales para el botón */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #9c7580;
}


.body-categorias-precios {
    margin: 0%;
    padding: 0%;
    background-color: #eec3c9;

}

.header-categorias-precios {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-areas: "marketing-catalogos-precios marketing-catalogos-precios"
        "titulo2 nav3"
        "nav-secundario-categorias nav-secundario-categorias";
}

.titulo2 {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    grid-area: titulo2;
}

.nav3 {
    width: auto;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    grid-area: nav3;
}

.nav3 ul {
    width: 15rem;
    height: 100%;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2.10rem;
}

.nav-secundario-categorias {
    background-color: #9c7580;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: end;
    grid-area: nav-secundario-categorias;
}

.nav-secundario-categorias ul {
    width: 50%;
    height: 100%;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2.10rem;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.nav-secundario-categorias ul a {
    text-decoration: none;
    color: aliceblue;
}

/*Modificación de botones de categorias */

.accordion-body {
    display: flex;
    flex-direction: column;
}

.boton-categoria {
    border-style: none;
    height: 4rem;
}

.boton-categoria:hover {
    background-color: #eec3c9;
}

.talles-mujeres {
    display: inline-flex;
    flex-direction: row;
    border-style: none;
}




.parrafoenlace {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.enlaces {
    display: flex;
    justify-content: space-evenly;
}

.mapa {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin-left: 43rem;
    margin-top: 10px;
}

.mapa p {
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.metodopago {
    height: 100px;
}


.grid-categorias {
    display: grid;
    grid-template-areas: "nav-categorias galeria-img"
        "nav-categorias galeria-img";
    grid-template-columns: 1fr 4fr;
    gap: 20px;

}


.galeria-img {
    background-color: rgb(202, 191, 177);
}