@charset "UTF-8";
/*momento hover imagenes ofertas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 2px solid black;
  text-decoration: none; }

.comienzo {
  background-color: #eec3c9;
  margin: 0%;
  padding: 0%; }

.marketing {
  grid-area: marketing;
  background-color: #9c7580;
  order: -1;
  width: auto;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.marketing h3 {
  font-size: 18px;
  position: sticky;
  font-family: 'DM Serif Display', serif; }

header {
  display: grid;
  grid-template-columns: 4fr 4fr;
  grid-template-rows: 1.3fr 3fr;
  grid-template-areas: "marketing marketing" "titulo encabezado1" "navbar-principal navbar-principal";
  background-color: #b38e98; }

.encabezado1 {
  grid-area: encabezado1;
  display: flex;
  flex-direction: row;
  background-color: #b38e98; }

.titulo {
  grid-area: titulo;
  width: 100%;
  height: 100%;
  justify-items: center;
  display: contents; }

.principal {
  height: auto;
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  display: flex;
  align-items: center; }

.nav1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center; }

.nav1 .listado1 {
  width: 40%;
  height: 65%;
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2.1rem;
  margin-bottom: 0;
  padding: 0; }

.boton a {
  display: flex;
  height: auto;
  width: auto; }

.navbar-principal {
  grid-area: navbar-principal;
  width: 100%;
  height: 4rem;
  background-color: #9c7580; }
  @media (max-width: 600px) {
    .navbar-principal .nav2 {
      display: none; }
    .navbar-principal .bg-dark {
      display: block; } }

.nav2 {
  height: 100%;
  display: flex;
  align-items: end; }

.nav2 ul {
  width: 100%;
  height: 50%;
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif; }

.nav2 ul a {
  text-decoration: none;
  color: aliceblue; }

/* Implementando menú hamburguesa */
.container-fluid-hamburguesa {
  display: flex;
  justify-content: space-between; }

.bg-dark {
  display: none;
  top: 0;
  background-color: rgba(179, 142, 152, var(--bs-bg-opacity)) !important; }

.fixed-top {
  position: relative; }

/* Colores del nav para celular */
.text-bg-dark {
  color: #fcf5f5 !important;
  background-color: rgba(179, 142, 152, var(--bs-bg-opacity)) !important; }

.dropdown-menu-dark {
  background-color: rgba(179, 142, 152, var(--bs-bg-opacity)) !important; }

.btn-success {
  background-color: rgba(179, 142, 152, var(--bs-bg-opacity)) !important;
  border-color: rgba(179, 142, 152, var(--bs-bg-opacity)) !important; }

/* Modificando los componentes de boostrap en Categorias */
.offcanvas.show:not(.hiding), .offcanvas.showing {
  max-width: 250px; }

.portada {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-areas: "img1 " "publicidad" "carrusel";
  justify-items: center; }

.img1 {
  grid-area: img1;
  display: flex;
  justify-content: center;
  height: 500px; }

.imagen1_portada {
  border-style: double;
  border-color: #865656; }

.imagen2_portada {
  border-style: double;
  border-color: #865656; }

.carrusel {
  grid-area: carrusel;
  display: flex;
  width: 60%;
  height: 100%; }

.carrusel .photo {
  display: flex;
  width: 1rem;
  flex-grow: 5;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease; }

.carrusel .photo:hover {
  cursor: crosshair;
  width: 30%;
  opacity: 1;
  filter: contrast(120%); }

.publicidad {
  grid-area: publicidad;
  order: 1.10;
  width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  border-style: dotted;
  font-family: Verdana, sans-serif; }

.footer {
  margin-top: 3rem;
  display: grid;
  /*  grid-template-columns: 3fr 3fr 3fr;
      grid-template-rows: 2fr 2fr;
      grid-area: "redessociales infodueña"
                  "zonadescarga"
                  "mapa mapa";*/
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: "infodueña infodueña infodueña" "redessociales redessociales mapa" "zonadescarga zonadescarga zonadescarga" "metodopago metodopago metodopago";
  background-color: #b38e98; }

.zonadescarga {
  grid-area: zonadescarga;
  margin: 10px; }

.infodueña {
  grid-area: infodueña;
  order: 2;
  position: relative;
  /* Agregar posición relativa */
  text-align: center;
  /* Centrar el texto horizontalmente */ }

.redessociales {
  grid-area: redessociales;
  height: auto;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: none;
  background: linear-gradient(45deg, #eec3c9, #9c7580, #694a50);
  background-size: 100%;
  border-radius: 15px; }

.mapa {
  grid-area: mapa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background: blanchedalmond;*/
  /* Ajusta los márgenes y relleno según sea necesario */ }

.mapa iframe {
  max-width: 100%;
  /* Asegura que el mapa se ajuste al ancho del contenedor */
  height: auto;
  /* Permite que el alto se ajuste automáticamente */
  border: 0; }

.mapa p {
  font-size: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  margin-top: -5px;
  margin-bottom: -5px; }

.metodopago {
  grid-area: metodopago;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Estilos solo para las imágenes de MercadoPago */
.metodopago img {
  height: 40px;
  margin: 0 30px;
  /* Ajusta el margen horizontal según tus preferencias */ }

.namepag {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px; }

.name {
  font-family: 'Courgette', cursive; }

.comienzo2 {
  margin: 0%;
  padding: 0%;
  background-color: #eec3c9; }

.titulo2 {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center; }

.encabezado {
  display: flex;
  flex-direction: row;
  background-color: #694a50; }

.redessociales p {
  align-items: center;
  text-align: center;
  margin-top: -2px; }

.parrafoenlace {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; }

.enlaces {
  display: flex;
  justify-content: space-evenly; }

.grid-categorias {
  display: grid;
  /*   grid-template-areas: "nav-categorias galeria-img"
          "nav-categorias galeria-img";*/
  grid-template-areas: "accordion productos-card" "accordion productos-card";
  grid-template-columns: 1fr 4fr;
  gap: 20px; }

.accordion {
  grid-area: accordion; }

.productos-card {
  grid-area: productos-card;
  display: flex;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* Cambio a nowrap para evitar envoltura */ }

.card {
  width: calc(33.33% - 20px);
  /* Ancho de cada tarjeta, con margen entre ellas */
  background-color: #f3d6d3;
  border-radius: 5%; }
  .card .card-body {
    padding: 0;
    text-align: center; }

.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; }
  @media (max-width: 750px) {
    .productos {
      max-width: 203px; } }

/* Modificando el main de categorias */
.accordion-body {
  display: flex;
  flex-direction: column;
  background-color: #aa8b94; }

.boton-categoria {
  height: 4rem;
  border-style: none; }

.accordion-button {
  background-color: #9c7580;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(127 55 97 / 40%); }
  .accordion-button .accordion-button::after {
    background-color: #694a50; }

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #9c7580;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #9c7580; }

.boton-categoria:hover {
  background-color: #bdaaaf; }

@media (max-width: 750px) {
  .list-group.list-group-flush ul.list-group-flush {
    margin-bottom: 0;
    padding-left: 0; } }

.talles-mujeres {
  border-color: #dabec3;
  padding: 5px 10px;
  border-radius: 20%; }

/*-----------------------------------------------------------------/*
  
  .galeria-img {
      background-color: antiquewhite;
  }
  
  
  
  /* Estilos para el icono de WhatsApp */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease-in-out; }

.whatsapp-icon:hover {
  transform: scale(1.1); }

/*Implementando diseño a la pág Ofertas */
.mainOfertas {
  display: grid;
  grid-template-areas: "botonOrdenar botonOrdenar" "menuOfertas imgOfertas";
  grid-template-columns: 1fr 4fr; }
  .mainOfertas .mb-4 {
    width: 20%;
    margin-left: 70%; }
  .mainOfertas .botonOrdenar {
    grid-area: botonOrdenar; }
  .mainOfertas .menuOfertas {
    grid-area: menuOfertas; }
    .mainOfertas .menuOfertas .filtros {
      font-family: 'DM Serif Display', serif;
      font-size: 20px;
      text-align: center; }
    .mainOfertas .menuOfertas .is-divider-small {
      height: 5px;
      background-color: #c285a7;
      margin-top: 10px;
      margin-bottom: 15px;
      padding-left: 100%; }
  .mainOfertas .imgOfertas {
    grid-area: imgOfertas;
    display: flex;
    justify-content: space-around; }

.navbar-principal-ofertas {
  grid-area: navbar-principal;
  width: 100%;
  height: 4rem;
  background-color: #9c7580; }

.navOfertas {
  height: 100%;
  display: flex;
  align-items: center; }
  .navOfertas ul {
    width: 100%;
    height: 50%;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    margin-bottom: 0; }
    .navOfertas ul a {
      text-decoration: none;
      color: aliceblue; }

.checkInput {
  list-style: none; }

/* Implementando sass a Nosotros */
.main-ubicacion-contacto .tituloContacto {
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 40px; }

.main-ubicacion-contacto .is-divider-smallNosotros {
  height: 5px;
  background-color: #c285a7;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 100%; }

.main-ubicacion-contacto .links {
  display: grid;
  grid-template-areas: "link-1 link-2";
  grid-template-columns: 3fr 3fr; }
  .main-ubicacion-contacto .links .link-1 {
    grid-area: link-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "DM Serif Display", serif;
    font-size: 20px; }
    .main-ubicacion-contacto .links .link-1 a {
      text-decoration: none;
      color: #110d0d;
      transition: all 0.3s ease;
      /* Agregamos una transición suave para los cambios */
      display: inline-block;
      /* Hacemos que el enlace sea un bloque en línea para poder aplicar propiedades de transformación */
      transform: translateY(-100%);
      animation: slideIn 1s ease forwards; }
      .main-ubicacion-contacto .links .link-1 a:hover {
        background-color: #e7a4ac;
        transform: scale(1.05);
        /* Agranda ligeramente el contenedor */
        border-radius: 30%;
        /* Borde ovalado */ }

@keyframes slideIn {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
  .main-ubicacion-contacto .links .link-2 {
    grid-area: link-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "DM Serif Display", serif;
    font-size: 20px; }
    .main-ubicacion-contacto .links .link-2 a {
      color: #110d0d;
      text-decoration: none;
      transition: all 0.3s ease;
      /* Agregamos una transición suave para los cambios */
      display: inline-block;
      /* Hacemos que el enlace sea un bloque en línea para poder aplicar propiedades de transformación */
      transform: translateY(-100%);
      animation: slideIn 1s ease forwards; }
      .main-ubicacion-contacto .links .link-2 a:hover {
        background-color: #e7a4ac;
        transform: scale(1.05);
        /* Agranda ligeramente el contenedor */
        border-radius: 30%; }
