 @import "_vars.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid black;
    outline: none;
    text-decoration: none;
}
    .comienzo {
      background-color: #eec3c9;
      margin: 0%;
      padding: 0%;
  }
  
  .marketing {
      grid-area: marketing;
      background-color: #9c7580;
      order: -1;
      width: auto;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }
  
  .marketing h3 {
      font-size: 18px;
      position: sticky;
      font-family: 'DM Serif Display', serif;
      text-align: center;
  }
  
  header {
      display: grid;
      grid-template-columns: 4fr 4fr;
      grid-template-rows: 1.3fr 3fr;
      grid-template-areas: "marketing marketing"
          "titulo encabezado1"
          "navbar-principal navbar-principal";
          background-color: #b38e98;
          
  }
  
  .encabezado1 {
      grid-area: encabezado1;
      display: flex;
      flex-direction: row;
      background-color:#b38e98;


      .nav1 {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
        }

        .listado1 {
        width: 40%;
        height: 65%;
        list-style: none;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 2.1rem;
        margin-bottom: 0;
        padding: 0;
        }
     
        @media (max-width:750px) {

        .listado1 {
            width: 60%;
            margin-right: 1rem;
        }
            
        }
    }
  
  .titulo {
      grid-area: titulo;
      width: 100%;
      height: 100%;
      justify-items: center;
      display: contents;

      .principal {
        height: auto;
        font-family: $fontfamily;
        font-size: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        }

        @media (max-width:750px) {
            .principal {
                font-size: 40px;
            }
            
        }
     }
  
  
  
 
  .boton{  
        a {
        display: flex;
        height: auto;
        width: auto;
        }
    }
  
  .navbar-principal {
      grid-area: navbar-principal;
      width: 100%;
      height: 4rem;
      background-color: #9c7580;
      
       

        @media  (max-width: 600px) {
            .nav2 {
                display: none;
            }
            
            .bg-dark {
                display: block;
            }
        }
  }
  
    .nav2 {
      height: 100%;
      display: flex;
      align-items: center;

    }
  
    .nav2 ul {
      width: 100%;
      height: 50%;
      list-style: none;
      display: inline-flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 0;

      li {
        display: contents;
      }
 }
  
      .nav2 ul a {
      text-decoration: none;
      color: aliceblue;
  }


   /*Prueba menú hamburguesa */

  .container-fluid-hamburguesa {
    display: flex;
    justify-content: space-between;

    img {
        width: 200px;
        height: 100px;
        object-fit: cover;
    }
   
  }

    .bg-dark {
     display: none;
     top: 0;
     background-color: rgba(#9c7580, var(--bs-bg-opacity)) !important; 
 }

    .fixed-top {
        position: relative;
    }

  /* Colores del nav para celular */

    .text-bg-dark {
        color: #fcf5f5!important;
        background-color: rgba(179, 142, 152, var(--bs-bg-opacity)) !important;
    }

    .dropdown-menu-dark { 
        background-color: rgba(179, 142, 152, var(--bs-bg-opacity)) !important;
     }

     .btn-success  {
        background-color: rgba(179, 142, 152, var(--bs-bg-opacity)) !important;
        border-color: rgba(179, 142, 152, var(--bs-bg-opacity)) !important;;


     }
  
/* Modificando los componentes de boostrap en Categorias */

    .offcanvas.show:not(.hiding), .offcanvas.showing {
        max-width: 250px;
    }


  .portada {
      margin-top: 2rem;
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 3fr;
      grid-template-areas: "img1 "
          "publicidad"
          "carrusel";
      justify-items: center;
 }
  
  .img1 {
      grid-area: img1;
      display: flex;
      justify-content: center;
      height: 500px;
  }
  
  .imagen1_portada {
      border-style: double;
      border-color: rgb(134, 86, 86);
      object-fit: cover;
  }
  
  .imagen2_portada {
      border-style: double;
      border-color: rgb(134, 86, 86);
      object-fit: cover;
  }
  
  .carrusel {
      grid-area: carrusel;
      display: flex;
      width: 60%;
      height: 100%;

      @media (max-width:750px) {
        display: none;
        
      }
  }
  
  .carrusel .photo {
      display: flex;
      width: 1rem;
      flex-grow: 5;
      object-fit: cover;
      opacity: .8;
      transition: .5s ease;
  }
  
  .carrusel .photo:hover {
      cursor: crosshair;
      width: 30%;
      opacity: 1;
      filter: contrast(120%);
  }

    #carouselExampleCaptions {

        display: none;

        .carousel-item {


            .w-100 {
              object-fit: cover;
            }
    
    
    
            .ver-mas {
                border: none;
                padding: 5px 5px;
                border-radius: 15%;
                background-color: #d3bdc1f8;
            }
    
        }

        .carousel-indicators {
            margin-bottom: -25px;
        }


        .carousel-caption {
            margin-bottom: -30px;
            display: flex;
            flex-direction: column;
            align-items: center;


            h5 {
                font-family: $carrusel;
                font-size: 20px;

            }
            p {
                font-family: $carrusel;
                font-size: 16px;
                max-width: 180px;
            }
        }

        @media (max-width:750px) {
            display: block;
            
        }
    }

    

 
  
  .publicidad {
      grid-area: publicidad;
      order: 1.10;
      width: 100%;
      height: auto;
      margin-top: 3rem;
      margin-bottom: 3rem;
      text-align: center;
      border-style: dotted;
      font-family: Verdana, sans-serif;
  }
  
  .footer {
      margin-top: 3rem;
      display: grid;
      /*  grid-template-columns: 3fr 3fr 3fr;
      grid-template-rows: 2fr 2fr;
      grid-area: "redessociales infodueña"
                  "zonadescarga"
                  "mapa mapa";*/
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
      grid-template-rows: auto;
      grid-template-areas:
          "infodueña infodueña infodueña"
          "redessociales redessociales mapa"
          "zonadescarga zonadescarga zonadescarga"
          "metodopago metodopago metodopago";
  
      background-color: #b38e98;
  }
  
  .zonadescarga {
      grid-area: zonadescarga;
      display: flex;

      a {
        margin-left: 10px;
        font-family: $fontfamily
      }
       
      p {
        font-family: $fontfamily;
      }
  }
  
  .infodueña {
      grid-area: infodueña;
      order: 2;
      position: relative;
      /* Agregar posición relativa */
      text-align: center;
      /* Centrar el texto horizontalmente */

      .namepag {
        font-family: $fontsfamily;
        font-size: 30px;
    }
    
    .name {
        font-family: $fontfamily;
        margin: 0;
    }
    

  }
  
  
  
  .redessociales {
      grid-area: redessociales;
      height: 200px;
      width: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-style: none;
      background: linear-gradient(45deg, #eec3c9, #9c7580, #694a50);
      background-size: 100%;
      border-radius: 15px;
  
  }
  
  .mapa {
      grid-area: mapa;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      /* background: blanchedalmond;*/
      /* Ajusta los márgenes y relleno según sea necesario */

      p {
        font-size: 20px;
        text-align: center;
        font-family: $fontsfamily;
        padding: 10px;
        margin-top: -5px;
        margin-bottom: -5px;
    }

    iframe {
        max-width: 100%;
        /* Asegura que el mapa se ajuste al ancho del contenedor */
        height: auto;
        /* Permite que el alto se ajuste automáticamente */
        border: 0;
    }


      @media (max-width:750px) {


        p {
            font-size: 16px;
        }
        
      }
    
  }
  

  

  .metodopago {
      grid-area: metodopago;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  /* Estilos solo para las imágenes de MercadoPago */
  .metodopago img {
      height: 40px;
      margin: 0 30px;
      /* Ajusta el margen horizontal según tus preferencias */

      @media (max-width:520px){
        margin: 0 15px;
        
      }
  }
  
  

  
  .comienzo2 {
      margin: 0%;
      padding: 0%;
      background-color: #eec3c9;
  
  }
  
  .titulo2 {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
  }
  

  .redessociales  {
        display: flex;
      text-align: center;
      margin-top: -2px;
      width: 50%;
      grid-area: redessociales;
      height: 200px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-style: none;
      background: linear-gradient(45deg, #eec3c9, #9c7580, #694a50);
      background-size: 100%;
      border-radius: 15px;

      .parrafoenlace {
        font-size: 20px;
        font-family: $fontsfamily;
    }
    
    .enlaces {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
    }

    @media (max-width:750px) {
        width: 70%;
        height: 70%;
        display: flex;
        align-items: center;


        .parrafoenlace {
            font-size: 16px;

        }
        
    }
  }
  

  
  
  .grid-categorias {
      display: grid;
      /*   grid-template-areas: "nav-categorias galeria-img"
          "nav-categorias galeria-img";*/
      grid-template-areas: "accordion productos-card"
          "accordion productos-card";
      grid-template-columns: 1fr 4fr;
      gap: 20px;
    
      @media (max-width:520px) {
        gap: 5px;
        
      }
  }
  
  .accordion {
      grid-area: accordion;
  }
  
  .productos-card {
      grid-area: productos-card;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
     
  }
  
    .card {
      background-color: #b38e98;
      border-radius: 5%;
      overflow: hidden;
      


      .botones-talles-mujeres-2 {
        text-align: center;
       

        .talles-mujeres-2 {
        border-color: #dabec3;
        padding: 5px 5px;
        border-radius: 20%;
        font-size: 14px;
        
        }
        }
      
        .card-img-top-cat {
            object-fit: cover;
            height: 250px;

        }
        
        .card-img-top-cat2 {
            object-fit: cover;
            height: 160px;
            position: absolute;
            width: 100%;
            opacity: 0;
        }

        .card-img-top-cat2:hover {
            opacity: 1;
            transition:  0.5s ease;
        }


      div {
        text-align: center;
        
      }


      .card-body {
        padding: 0;
        text-align: center;

        .card-text-2 {
            display: none;
        }

     
        @media (max-width:750px) {
            .card-text-2 {
                display: block;
                font-size: 14px;
                margin-bottom: 3px;
            }

            
        }

      }

        .list-group-item {
            text-align: center;
            
        }

        .list-group-items {
            list-style: none;

        }

        
        .boton-list-colors {
            display: none;
        }

        @media (max-width:750px) {
            max-width: 105px;
                max-height: 100%;
                gap: 1px;
            
            .card-img-top-cat2 {
                height: 100px;
            }
            .card-title {
                margin-bottom: 0;
                font-size: 16px;
            }

            .card-text {
                display: none;
            }


         
            
            .boton-list-colors {
                display: block;
                list-style: none;
                padding: 1px;
                text-align: center;

                .round-button {
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    color: white;
                    text-align: center;
                    line-height: 50px;
                    border: none;

                }

                .round-button:nth-child(1) {
                    background-color: blue;
                  }
                  
                  .round-button:nth-child(2) {
                    background-color: red;
                  }
                  
                  .round-button:nth-child(3) {
                    background-color: green;
                  }
                  
                  .round-button:nth-child(4) {
                    background-color: orange;
                  }
                  
                  .round-button:nth-child(5) {
                    background-color: purple;
                }

                @media (max-width: 750px) {
                    display: none;
                    
                }
            }

        }

        @media  (max-width: 490px) {
    
               max-width: 140px;
                justify-content: space-evenly;
        
                .botones-talles-mujeres-2 {


                    div {
                        text-align: center;
                        justify-content: space-evenly;
                        display: flex;
                        }
                    }
            
                .boton-list-colors {
                    display: block;
                }

                .list-group-item {
                    display: none;
                }
            
        }
        
    }
    .selector {
        border: 4px solid #d6a1cf;
        border-radius: 8px;
    }
        
  

    .productos {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      

      @media (max-width: 750px) {
        gap: 5px;
    }

  }
  

  /* Modificando el main de categorias */
  .accordion-body {
      display: flex;
      flex-direction: column;
      background-color: #aa8b94;
  }
 
  .boton-categoria {
      height: 4rem;
      border-style: none;
  }
  
  .accordion-button {
    background-color: #9c7580;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(127 55 97 / 40%);

    .accordion-button::after {
        background-color: #694a50;
    }
  }

  .accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #9c7580;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #9c7580;
}

  .boton-categoria:hover {
      background-color: #bdaaaf;
  }

  

  /*-----------------------------------------------------------------/*
  
  .galeria-img {
      background-color: antiquewhite;
  }
  
  
  
  /* Estilos para el icono de WhatsApp */
  .whatsapp-icon {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
      background-color: #25d366;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 60px;
      font-size: 24px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 1000;
      transition: transform 0.3s ease-in-out;

      @media (max-width: 500px) {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        
      }
  }
  
  .whatsapp-icon:hover {
      transform: scale(1.1);
  }


  /*Implementando diseño a la pág Ofertas */
    .mainOfertas {
    display: grid;
    grid-template-areas: 
    "botonOrdenar botonOrdenar"
    "menuOfertas imgOfertas";
    grid-template-columns: 1fr 4fr;
    gap: 15px;

    @media (max-width:375px) {
        gap: 5px;
        
    }
    
    
    .botonOrdenar{
        grid-area: botonOrdenar;
        margin-top: 30px;

        .mb-4 {
            width: 20%;
            margin-left: 70%;

        }
        
        @media (max-width:600px) {
            .mb-4 {
                width: 115px;
                margin-left: 63%;
                font-size: 16px;
            }

        }
    }

    .menuOfertas {
        grid-area: menuOfertas;
        

        .filtros {
            font-family: 'DM Serif Display', serif;
            font-size: 20px;
            text-align: center;
           
        }

        .is-divider-small {
            height: 5px;
            background-color: $separador;
            margin-top: 10px;
            margin-bottom: 15px;
            padding-left: 100%;
        }

        @media (max-width:750px) {
            .filtros {
                font-size: 16px;
            }

            .is-divider-small {
                height: 3px;
                background-color: $separador;
                margin-top: 10px;
                margin-bottom: 10px;
                padding-left: 100%;
            }
            
            .form-select {
                height: 40px;
                font-size: 16px;

            }

            .checkInput {
                padding-left: 10px;
            }
        }

     }

     /* Estilos de imgOfertas */

     .imgOfertas {
        grid-area: imgOfertas;
        display: flex;
        gap: 10px;
        justify-content: space-evenly;


        .card-ofertas {
           
            background-color: #b38e98;
            border-radius: 5%;
            overflow: hidden;
            max-height: 490px;


            .card-title {
                text-align: center;
            }

            .card-text-2 {
                display: none;
                text-align: center;
            }

            .card-text {
                text-align: center;
            }

            .card-body {
                text-align: center;
            }

            .list-group-items-ofertas {
                text-align: center;

                div {
                    display: flex;
                    justify-content: space-evenly;
                }
            }

            .list-group-item-ofertas {
                text-align: center;
            }
            

            @media (max-width:490px) {
                max-width: 140px;
                justify-content: space-evenly;
            } 

            .botones-talles-mujeres {
                text-align: center;
                display: flex;
                justify-content: space-evenly;
        
                .talles-mujeres {
                    border-color: #dabec3;
                    padding: 5px 5px;
                    border-radius: 20%;
                   }
        
            }
        
            .boton-list-colors {
                display: none;
            }
        }
        


        @media (max-width:376px) { 
            gap: 3px;
            justify-content: space-evenly;

            .card-ofertas {
                max-width: 120px;
                margin-right: 5px;
                height: 80%;


                img {
                    max-height: 115px;
                    object-fit: cover;
                }

                .card-body {
                    flex: none;
                    
                    .card-text {
                        display: none;

                    }
                }

                .card-text-2 {
                    display: block;
                }

                .list-group-items-ofertas {
                    display: none;
                    list-style: none;

                }

        
                .boton-list-colors {

                    display: inline-block;
                    list-style: none;
                    padding: 0;
                    display: flex;
                    justify-content: space-evenly;

                    .list-group-colors {

                        flex-direction: row;
                        display: contents;

                        .round-button {
                            width: 18px;
                            height: 18px;
                            border-radius: 50%;
                            color: white;
                            text-align: center;
                            line-height: 50px;
                            border: none;

                        }

                        .round-button:nth-child(1) {
                            background-color: blue;
                          }
                          
                          .round-button:nth-child(2) {
                            background-color: red;
                          }
                          
                          .round-button:nth-child(3) {
                            background-color: green;
                          }
                          
                          
                          .round-button:nth-child(4) {
                            background-color: purple;
                        }
                    }
                }
                .botones-talles-mujeres {
                    .talles-mujeres {
                        padding: 5px 3px;
                        border-radius: 20%;
                        font-size: 14px;
                        font-weight: 600;
                       }   
                }
            }    
        }
    }

     }

     .navbar-principal-ofertas {
        grid-area: navbar-principal;
        width: 100%;
        height: 4rem;
        background-color: #9c7580;
    }

    .navOfertas {
         height: 100%;
         display: flex;
         align-items: center;

    ul {
        width: 100%;
        height: 50%;
        list-style: none;
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 0;
        margin-bottom: 0;

    a {
        text-decoration: none;
        color: aliceblue;
        }
    }
 }


  .checkInput {
    list-style: none;

  }



/* Implementando sass a Ubicación y contacto */

    .main-ubicacion-contacto {



        .tituloContacto {
           
            text-align: center;
            font-family: 'DM Serif Display', serif;
            font-size: 40px;

        }

        .is-divider-smallNosotros {

            height: 5px;
            background-color: $separador;
            margin-top: 10px;
            margin-bottom: 15px;
            padding-left: 100%;
        }

        .links {

            @media (max-width:750px) {  
                display: flex;  
                flex-direction: column;
                
            }

            display: grid;
            grid-template-areas: 
            "link-1 link-2"
            ;
            grid-template-columns: 3fr 3fr;


            .link-1 {
            grid-area: link-1;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $fontsfamily;
            font-size: 20px;

            p {
                margin-top: 1rem;
            }
            
            a {
                text-decoration: none;
                color: hsl(0, 13%, 6%);
                transition: all 0.3s ease; /* Agregamos una transición suave para los cambios */
                display: inline-block; /* Hacemos que el enlace sea un bloque en línea para poder aplicar propiedades de transformación */
                transform: translateY(-100%);
                animation: slideIn 1s ease forwards;

                &:hover{
                    background-color: #e7a4ac;
                    transform: scale(1.05); /* Agranda ligeramente el contenedor */
                    border-radius: 30%; /* Borde ovalado */
                }
            }      
        }
            @keyframes slideIn {
             0% {
                transform: translateY(-100%);
            }
                100% {
                transform: translateY(0);
            }
            }
            .link-2 {
                grid-area: link-2;
                display: flex;  
                flex-direction: column; 
                align-items: center;
                font-family: $fontsfamily;
                font-size: 20px;

                p {
                    margin-top: 1rem;
                }

                a {
                    color: hsl(0, 13%, 6%);
                    text-decoration: none;
                    transition: all 0.3s ease; /* Agregamos una transición suave para los cambios */
                    display: inline-block; /* Hacemos que el enlace sea un bloque en línea para poder aplicar propiedades de transformación */
                    transform: translateY(-100%);
                    animation: slideIn 1s ease forwards;

                    &:hover {
                    background-color: #e7a4ac;
                    transform: scale(1.05); /* Agranda ligeramente el contenedor */
                    border-radius: 30%; 
                    }
                }    
            }
        }
    }

    /* Implementando Sass y @medias a Nosotros */


    .nosotros-nuestro-equipo {
        margin-top: 3rem;
        background-image: url(../image/nuestro-equipo.png); 
         
        h1 {
            text-align: center;
            font-family: $fontsfamily;
            font-size: 65px;
            font-weight: bold;

        }

        p {
            font-family: 'Merriweather', serif;
            font-size: 20px;
            font-weight: bold;
        }



        .historia-kyros {
            display: flex;
            flex-direction: row;




            p {
                display: flex;
                align-items: center;
                font-family: 'Merriweather', serif;
                font-size: 20px;
                font-weight: bold;
            }                

            img {
                max-width: 500px;
                border-radius: 20%;
                transform: translateX(-100%); /* Posición inicial fuera de la pantalla */
                animation: slideIn 2s ease-in-out forwards; /* Animación con duración de 1 segundo */
            }


            @keyframes slideIn {
                0% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(0); /* Posición final, centrada en la pantalla */
                }
            }

            @media (max-width:750px) {

                flex-direction: column-reverse;

                p {
                    font-size: 16px;
                    font-weight: none;
                    width: 250px;
                    text-align: center;
                    align-self: center;
                }

                img {
                    display: inline;
                    max-width: 300px;
                    align-self: center;
                    height: 250px;
                }
             
            }

        }

        .historia-kyros-2 {
            display: flex;
            flex-direction: row-reverse;


            p {
                display: flex;
                align-items: center;
                font-family: 'Merriweather', serif;
                font-size: 20px;
                font-weight: bold;
            }                

            img {
                max-width: 500px;
                border-radius: 20%;
                transform: translateX(-100%); /* Posición inicial fuera de la pantalla */
                animation: slide2 2s ease-in-out forwards; /* Animación con duración de 1 segundo */
                height: 285px;
            }


            @keyframes slide2 {
                0% {
                    transform: translateX(-100%);
                }
                100% {
                    transform: translateX(0); /* Posición final, centrada en la pantalla */
                }
            }

            @media (max-width:750px) {

                p {
                    font-size: 16px;
                    font-weight: none;
                    display: none;
                }
             
            }
        }

        .historia-kyros-3 {
            display: flex;
            flex-direction: row;


            p {
                display: flex;
                align-items: center;
                font-family: 'Merriweather', serif;
                font-size: 20px;
                font-weight: bold;
            }                

            img {
                max-width: 500px;
                border-radius: 20%;
                transform: translateX(-100%); /* Posición inicial fuera de la pantalla */
                animation: slide3 2s ease-in-out forwards; /* Animación con duración de 1 segundo */
                height: 285px;
            }


            @keyframes slide3 {
                0% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(0); /* Posición final, centrada en la pantalla */
                }
            }
            
            @media (max-width:750px) {

                flex-direction: column-reverse;

                p {
                    font-size: 16px;
                    font-weight: none;
                    width: 250px;
                    text-align: center;
                    align-self: center;
                }
             
                img {
                    display: inline;
                    max-width: 300px;
                    align-self: center;
                }
            }
        }


        @media (max-width:750px) {

            div {
                display: flex;
                flex-direction: column;
            }

            h1 {
                font-size: 45px;
            }

            p {
                font-size: 16px;
                font-weight: none;
                width: 250px;
                text-align: center;
                align-self: center;
            }

            img {
                display: none;
            }
            
        }
    }


    .main-registro {

        h3 {
            text-align: center;
        }
        
        .registro-usuario {
            display: flex;
           justify-content: center;

        }

        #formulario-registro-usuarios {
            display: flex;
            flex-direction: column;
            width: 500px;
            text-align: center;
          
        }
        
    }
   
   

    
